<!-- views/partials/footer.ejs
   Pratheepan Gunaratnam
   Student id :- 301320478
   06-02-23

-->
    <srcript src="/jquery/dist/jquery.min.js"></srcript>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js">S</script>

    </body>
  </html>
  