<!-- views/partials/header.ejs
   Pratheepan Gunaratnam
   Student id :- 301320478
   06-02-23

-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/Content/app.css' />
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/>

  <link rel="stylesheet" href="/jquery/dist/jquery.slim.min.js"/>
  <link rel="stylesheet" href="/@popperjs/core/dist/umd/popper.min.js"/>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"/>

 
</head>
<body>

    